@font-face {
  font-family: "RobotoLight";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-light-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-light-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoBold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-bold-webfont.ttf") format("truetype"); }

body {
  min-width: 320px;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; }

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0; }

p {
  margin-bottom: 0; }

.header-top__brand--title, .header-top__brand--subtitle {
  float: right; }

.header-top__brand--title {
  font-family: "RobotoRegular", sans-serif;
  font-size: 33px;
  line-height: 30px;
  text-transform: uppercase; }

.header-top__brand--subtitle {
  font-family: "RobotoLight", sans-serif;
  font-size: 11px;
  line-height: 18px; }

.header-top__occupation {
  font-family: "RobotoLight", sans-serif;
  font-size: 16px;
  line-height: 24px; }

.header-top__contacts {
  font-size: 14px; }
  .header-top__contacts--number {
    font-family: "RobotoBold", sans-serif; }
  .header-top__contacts--destination {
    color: #a8a8a8;
    font-family: "RobotoRegular", sans-serif; }

.header-bottom-wrapper {
  background-color: #4d9dfd;
  text-align: center; }

.header-bottom-navbar {
  margin-top: 1.1875rem; }
  .header-bottom-navbar__item {
    display: block;
    font-family: "RobotoLight", sans-serif;
    font-size: 22px;
    max-height: 58px; }
    .header-bottom-navbar__item > a {
      color: white;
      display: block;
      padding-bottom: 0.8125rem;
      padding-top: 0.75rem;
      text-decoration: none; }
    .header-bottom-navbar__item:hover {
      background-color: #3b8aea; }

.header-slider-wrapper {
  background: -webkit-gradient(linear, left top, right top, from(rgba(246, 248, 250, 0.7)), to(rgba(154, 196, 202, 0.7))), url("../img/slider-bg-1.png") bottom right 60% no-repeat;
  background: -o-linear-gradient(left, rgba(246, 248, 250, 0.7), rgba(154, 196, 202, 0.7)), url("../img/slider-bg-1.png") bottom right 60% no-repeat;
  background: linear-gradient(90deg, rgba(246, 248, 250, 0.7), rgba(154, 196, 202, 0.7)), url("../img/slider-bg-1.png") bottom right 60% no-repeat;
  padding-bottom: 7.25rem;
  padding-top: 8.625rem; }

.header-slider__title, .header-slider__text {
  color: #000; }

.header-slider__title {
  font: 400 2rem "RobotoRegular", sans-serif; }

.header-slider__text {
  font-family: 200 1.125rem/1.5rem "RobotoLight", sans-serif;
  margin-top: 1.5rem; }

.header-slider__button {
  background-color: #4d9dfd;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: "RobotoLight", sans-serif;
  font-size: 18px;
  margin-top: 3.25rem;
  padding: 0.875rem 1.75rem; }

/*==========  Desktop First  ==========*/
/*==========  Mobile First  ==========*/
