@import "vars"
@import "fonts"

// common

body
	// font-family: $default-font
	min-width: 320px
	overflow-x: hidden

h1, h2, h3, h4, h5, h6
	margin-bottom: 0

ul
	list-style-type: none
	margin-bottom: 0
	padding-left: 0

p
	margin-bottom: 0


// common
// header

.section-header

.header-top-wrapper
	margin-top: 1.25rem

.header-top
	&__brand
		&--title,
		&--subtitle
			float: right

		&--title
			font-family: $robotoRegular
			font-size: 33px
			text-transform: uppercase

		&--subtitle
			font-family: $robotoLight
			font-size: 11px

	&__occupation
		font-family: $robotoLight
		font-size: 16px

	&__contacts
		font-size: 14px

		&--number
			font-family: $robotoBold

		&--destination
			color: $destination
			font-family: $robotoRegular

.header-bottom-wrapper
	background-color: $accent
	text-align: center

.header-bottom-navbar
	&__items

	&__item
		font-family: $robotoLight
		font-size: 22px

		& > a
			color: $text1
			display: block
			height: 58px
			text-decoration: none
			vertical-align: center

		&.active
			background-color: #3b8aea







// header
// services1
// services1
// advantages
// advantages
// portfolio
// portfolio
// reviews
// reviews
// team1
// team1
// certification
// certification
// about1
// about1
// brands
// brands
// services2
// services2
// prices
// prices
// map
// map
// services3
// services3
// request
// request
// team2
// team2
// about2
// about2
// footer
// footer

































@import "media_critical" // Always at the end
