@import "vars"
@import "fonts"

// common

body
	// font-family: $default-font
	min-width: 320px
	overflow-x: hidden

h1, h2, h3, h4, h5, h6
	margin-bottom: 0

ul
	list-style-type: none
	margin-bottom: 0
	padding-left: 0

button
	border: none
	border-radius: 2px
	font: 200 1.125rem $robotoLight
	padding: 1rem 1.75rem

p
	margin-bottom: 0


// common
// header

.section-header

.header-top-wrapper
	// margin-top: 1.25rem

.header-top
	&__brand
		// &--title,
		// &--subtitle
		// 	float: right

		&--title
			font-family: $robotoRegular
			font-size: 33px
			line-height: 30px
			text-transform: uppercase

		&--subtitle
			font-family: $robotoLight
			font-size: 11px
			line-height: 18px

	&__occupation
		font-family: $robotoLight
		font-size: 16px
		line-height: 24px

	&__contacts
		font-size: 14px

		&--number
			font-family: $robotoBold

		&--destination
			color: $destination
			font-family: $robotoRegular

.header-bottom-wrapper
	background-color: $accent
	text-align: center

.header-bottom-navbar
	margin-top: 1.1875rem

	&__items

	&__item
		display: block
		font: 200 1.375rem $robotoLight
		// max-height: 58px

		& > a
			color: $text1
			display: block
			padding-bottom: 1rem
			padding-top: 0.8125rem
			text-decoration: none

		&:hover
			background-color: #3b8aea

.header-slider-wrapper
	background: linear-gradient(90deg, rgba(246, 248, 250, 0.7), rgba(154, 196, 202, 0.7)),
	url("../img/slider-bg-1.png") bottom right 60% no-repeat
	padding-bottom: 7.25rem
	padding-top: 8.625rem
	position: relative

.header-slider
	&__title,
	&__text
		color: $base

	&__title
		font: 400 2rem $robotoRegular
		// margin-top: 8.625rem

	&__text
		font-family: 200 1.125rem/1.5rem $robotoLight
		// font-size: 1.125rem
		// line-height: 1.5rem
		margin-top: 1.5rem

	&__button
		background-color: $accent
		color: $text1
		margin-top: 3.25rem

.slider-dots
	bottom: 0
	left: 0
	right: 0
	margin-bottom: 2rem
	position: absolute
	text-align: center

.slider-dot
	margin-left: 0.5rem
	margin-right: 0.5rem



// header
// services1
// services1
// advantages
// advantages
// portfolio
// portfolio
// reviews
// reviews
// team1
// team1
// certification
// certification
// about1
// about1
// brands
// brands
// services2
// services2
// prices
// prices
// map
// map
// services3
// services3
// request
// request
// team2
// team2
// about2
// about2
// footer
// footer

































@import "media_critical" // Always at the end
