@import "vars"
@import "fonts"

// common

body
	min-width: 320px
	overflow-x: hidden

h1, h2, h3, h4, h5, h6
	margin-bottom: 0

ul
	list-style-type: none
	margin-bottom: 0
	padding-left: 0

p
	margin-bottom: 0


// common
// header

















// header
// services1
// services1
// advantages
// advantages
// portfolio
// portfolio
// reviews
// reviews
// team1
// team1
// certification
// certification
// about1
// about1
// brands
// brands
// services2
// services2
// prices
// prices
// map
// map
// services3
// services3
// request
// request
// team2
// team2
// about2
// about2
// footer
// footer

































@import "media_critical" // Always at the end
